/*
TABLE OF CONTENTS

  1. Global styles
  2. Hero
  3. Navigation
  #. Care
  4. CTA
  5. Facts on Succulents
  6. Plants
  7. Gallery
  8. Footer
    8a. Contact
  9. COntact Form
    9a. Custom Checkbox
    9b. Radio Buttons
  10. New Radio Buttons
  11. Footer > Connect
  12. Media Queries
    12a. Media Query, (min-width: 700px)
      12a-i. Hero
      12a-ii. Navigation, Large screen
      12a-iii. Trips, Large screen
      12a-iv. CTA summaries, Large screen rules
      12a-v. Team, Large screen rules
      12a-vi. Problem
      12a-vii. Actions
      12a-viii. Footer
    12b. Media Query, (min-width: 1000px)
    12c. Feature Query

*/

/* ## 1. Global Styles ## */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.container {
  background-color: #cff8c4c4;
  }

body > * {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  line-height: 1.4;
}

a {
 color: #36e6da;
 font-weight: bold;
}

a:hover {
 color: #b430e0;
}

i {
 padding-left: .5rem;
}

/* ## 2. Hero ## */
.hero {
 background: url("../images/purp_lotus.svg") no-repeat center right;
 background-size: cover;
 border: #178812;
 border-style: inset;
 border-radius: 10em;
 color: #28db43;
 font-size: 26px;
 text-align: center;
 display: grid;
 grid-template-columns: 10px 2fr 10px;
 grid-template-rows: .5fr 1fr 20px;
 grid-gap: 20px;
}

.hero img {
 margin: auto;
 padding-top: 1rem;
 grid-column: 2 / 3;
 grid-row: 1 / 2;
}

.hero article {
 grid-column: 2 / 3;
 grid-row: 2 / 3;
}

.hero h1 {
 font-size: 2rem;
 text-transform: uppercase;
}

.hero button {
 background-color: #fff;
 border: none;
 border-radius: 4px;
 color: #2fca29;
 font-size: 1rem;
 padding: 5px 10px;
 margin: .75rem auto 0;
}


/* ## 3. Navigation ## */
.logo {
 max-width: 90px;
 background-color: #9af6bc;
 
}

.navWrap {
 position: -webkit-sticky;
 position: -moz-sticky;
 position: -o-sticky;
 position: -ms-sticky;
 position: sticky;
 top: 0;
 z-index: 99;
 height: 48px;
 width: 100%;
 background-color: #214f1c;
 border-bottom: 1px solid #e0e5eb;
 box-shadow: 0px 1px 8px #225535;
 padding: 0 1.5rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

input#navToggle {
 display: none;
}

input#navToggle ~ label {
 position: relative;
 padding: 0.25rem;
 width: 2rem;
 height: 1.25rem;
 height: 2rem;
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
 content: "";
 display: block;
 position: absolute;
 top: .75rem;
 height: 0.125rem;
 width: 1.75rem;
 opacity: 1;
 background: #fff;
 transition: 0.14s ease-in-out;
}

input#navToggle ~ label > span::before {
 top: -0.5rem;
}

input#navToggle ~ label > span::after {
 top: 0.5rem;
}

#navToggle:checked ~ label > span {
 width: 0;
 background: rgba(18, 18, 18, 0);
}

#navToggle:checked ~ label > span::before {
 transform: rotateZ(45deg);
 top: 0;
}

#navToggle:checked ~ label > span::after {
 transform: rotateZ(-45deg);
 top: 0;
}

#navToggle:checked ~ nav {
 left: 0;
}

nav {
 position: absolute;
 z-index: -1;
 top: 3.0rem;
 left: -150%;
 width: 100%;
 transition: 0.25s ease-in-out;
}

nav::after {
 content: "";
 position: absolute;
 top: 0;
 z-index: -1;
 height: 100vh;
 width: 100vw;
 background-color: #9c0597;
 background-size: cover;
}

nav ul {
   list-style-type: none;
}

nav ul li a {
 display: inline-block;
 text-decoration: none;
 width: 100%;
 padding: .75rem 1rem;
 color: #fff;
 border-bottom: solid 1px rgba(255,255,255,.5);
 transition: 0.14s ease-in-out;
}

nav ul li a:hover {
 color: #36e6a0;
 background: #e0e5eb;
}

nav ul li:last-of-type::before {
 content: "";
 display: block;
 padding: .5rem;
 }

nav .btn {
 background: #fff;
 border-bottom: none;
 border-radius: 4px;
 box-shadow: inset 0 0 5px #a30cee;
 color: #225426;
 width: 40%;
 padding: 0.25rem .6rem;
 letter-spacing: 1px;
 text-shadow: 0 0 1px rgb(19, 231, 107);
 text-align: center;
 display: flex;
 justify-content: center;
 margin: auto;
}

nav .btn:hover {
 background-color: #4a2254;
 box-shadow: inset 0 0 5px #13e768;
 color: #fff;
}

/* ## #. Care ## */
.care {
  padding: 1rem;
  margin: auto;
  max-width: 1200px;
  text-align: center;
 }
 
 .care article {
  margin: 2rem auto;
  width: 80%;
  max-width: 1000px;
 }
 
 .care h1 {
  color: #3adf7c;
  font-size: 3rem;
  margin-left: 1rem;
 }
 
 .care article p {
  border-left: solid 1px #dedede;
  padding-left: 1rem;
 }
 
 .careList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
 }
 
 .careList li {
  background-color: rgba(255,255,255,.9);
  border-radius: 6px;
  border: solid 1px #dedede;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(140px, 1fr) auto;
 }
 
 .careList h3, .careList img {
  grid-row: 1 / 2;
  grid-column: 1;
 }
 
 .careList h3 {
  background-color: rgba(255,255,255,.5);
  color: #fff;
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(51,51,51,.7);
  align-self: end;
 }
 
 .care a {
  border-radius: 3px;
  background-color: #50e639;
  color: #fff;
  height: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .care a:hover {
  background-color: #333333;
 }

/* ## 4. CTA ## */
.cta {
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 background-color: #b0f8cc86;
 color: #270231;
 margin: 2rem auto;
 padding: 2rem;
 text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.cta3 {
 background-image: url("../images/purp_lotus.svg");
}

.cta h1 {
 margin-left: 1rem;
}

.cta p {
 border-left: solid 1px #fff;
 padding-left: 1rem;
 max-width: 700px;
 background-color: #ebf8ed9d;
}


/* ## 5. Facts on plants ## */
section.facts {
 padding: 1rem;
 margin: auto;
}

.facts h1 {
 margin-left: 1rem;
 color: #35e8be;
}

.facts h1 ~ p {
 border-left: solid 1px #dedede;
 padding-left: 1rem;
}

.facts h3 {
 margin: 1rem 0 0 1rem;
 color: #225523;
}

.facts ul {
 margin: 0 0 1rem 3rem;
}

.facts img {
 margin: auto;
 display: block;
}

/* ## 6. Plants ## */
.plants {
 padding: .5rem;
 grid-column: 1 / 4;
 grid-row: 2 / -1;
}

.plants h3 {
 color: #35e85c;
 font-style: italic;
 margin-bottom: .25rem;
}

.plants h1 + p {
 border-left: solid 1px #dedede;
 padding-left: 1rem;
}

.plants article h1 {
 margin-left: 1rem;
}

.plants ul li {
 border: solid 1px #dedede;
 border-radius: 4px;
 list-style-type: none;
 margin: .5rem auto;
 display: grid;
 grid-template-columns: 1fr 4fr;
 grid-template-rows: auto;
}

.plants li h1 {
 background: url(../images/st_of_hearts_t.jpg) no-repeat center;
 height: 250px;
 width: auto;
 alt: "string of hearts plant";
 background-size: cover;
 border-radius: 2px 0 0 2px;
 color: #fff;
 padding-top: 4rem;
 text-align: center;
 text-shadow: 1px 1px 2px #225525;
 grid-column: 1 / 1;
 grid-row: span 1;
}

.plants li h3 {
 background-color: #0e2e0e;
 border-radius: 0 6px 0 0;
 color: #fff;
 padding: .25rem .25rem;
 grid-column: 2 / -1;
 align-self: start;
 align-content: center;
 text-align: center;
}

/* .plants li h4 {
  background-color: #225523;
  border-radius: 0 6px 0 0;
  color: #fff;
  padding: .5rem .25rem;
  grid-column: 2 / -2;
  align-self: start;
  align-content: center;
  text-align: center;
 } */

.plants li:nth-of-type(2) h1 {
 background-image: url(../images/snake_propg_sq.jpg);
 height: 250px;
 width: auto;
 alt: "snake plant";
}

.plants li:nth-of-type(3) h1 {
 background-image: url(../images/spider_t.jpg);
 height: 250px;
 width: auto;
 alt: "spider plant";
}

.plants li:nth-of-type(4) h1 {
 background-image: url(../images/purp_pssion_t.jpg);
 height: 250px;
 width: auto;
 alt: "purple passion plant";
}

.plants li:nth-of-type(5) h1 {
 background-image: url(../images/mthr_of_mllions_t.jpg);
 height: 250px;
 width: auto;
 alt: "mother of a millions";
}

.plants li:nth-of-type(6) h1 {
 background-image: url(../images/bonsai_rec.jpg);
 height: 250px;
 width: auto;
 alt: "bonsai tree";
}

/* ## 7. Gallery ## */
.gallery {
 max-width: 1200px;
 margin: auto;
}

.gallery h1 {
 text-align: center;
 color: #225534;
 padding: 0 1rem;
 margin-bottom: .5rem;
}

.galleryWrap {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 grid-gap: .5em;
 grid-auto-flow: row dense;
}

.galleryWrap img[src$="_w.jpg"] {
 grid-column-end: span 2;
}

.galleryWrap img[src$="_p.jpg"] {
 grid-row-end: span 1;
}

.galleryWrap img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* Cards */
.container h1 {
  text-align: center;
}

/* ## 8. Footer ## */
footer {
 margin-top: 1rem;
}
/* ### 8a. Footer > Contact ### */
.form {
 background-color: #225538;
 color: #fff;
 padding: 1rem 1rem 2rem;
}

.form p {
 font-weight: 300;
 padding-bottom: 1rem;
}

/* ## 9. Contact Form ## */
form#contactForm {
   max-width: 350px;
   margin: auto;
}

.contactForm div {
   margin-top: 1em;
}

.contactForm div:first-of-type {
 margin-top: 0;
}

.contactForm label {
 display: block;
}

.contactForm input, .contactForm textarea {
 border: solid 1px #dedede;
 border-radius: 4px;
 color: #707070;
 cursor: text;
 font-size: 1rem;
 max-width: 350px;
 padding: .5rem;
 width: 100%;
}

.contactForm textarea {
 min-height: 100px;
}

.contactForm .btn {
  background-color: #13e7a4;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: .5rem;
  min-width: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .contactForm .btn:hover {
  background-color: #35e8c1;
  color: #fb07ff;
  cursor: pointer;
 }

.contactForm i {
 font-size: 250%;
 padding-right: .2rem;
 color: #fb07ff;
}

.contactForm input[type="button"]:active {
 box-shadow: 1px 1px 3px rgba(255,255,255,.6), 0px 0px 4px rgba(255,255,255,.8);
}

.contactForm .checks {
 margin: .25em 0 1em .1em;
}

.contactForm input[type="checkbox"] + label {
 display: inline-block;
 padding-top: 0;
 margin-top: 0;
}

/* ### 9a. Custom Checkbox ### */
.contactForm .checks label {
 display: inline-block;
}

.contactForm input[type="checkbox"] {
 position: absolute;
 opacity: 0;
 width: 20px;
 height: 20px;
 margin: 1px 0 0 -1px;
}

input[type="checkbox"]:checked ~ span:before {
 content: "\f14a";
}

.checks span:before {
 display: inline-block;
 box-sizing: border-box;
 color: #13e761;
 content: "\f0c8";
 font-family: "Font Awesome 5 Free";
 font-size: 1.3em;
 margin: -3px 3px 0 0;
 vertical-align: middle;
}

.contactForm input:focus, .contactForm textarea:focus {
 border: solid 1px #88e713;
 box-shadow: 0 0 2px #60bf0d, 0px 0px 4px #48bf0d, 1px 1px 4px #61e713, 2px 2px 4px #44e713;
 outline: none;
}

/* ## 9b. Radio Buttons ## */
.contactForm div.radioBtns {
 margin: 1em 0;
 max-width: 400px;
 display: grid;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: repeat(2, 1fr);
}

.radioBtns:hover {
  cursor: pointer;
}
.radioBtns p {
 padding-bottom: 0;
 grid-column: span 3;
}

input[type="radio"]:first-of-type {
   margin-left: 0;
}

/* ## 10. New Radio Button ## */
.radioBtns span:before {
 display: inline-block;
 font-family: "Font Awesome 5 Free";
 content: "\f111";
 color: #13e761;
 font-size: 1.2em;
 vertical-align: middle;
 margin: -4px 3px 0 0;
}

.radioBtns label {
 position: relative;
}
/* Hiding default radio buttons */
.radioBtns input[type="radio"] {
 position: absolute;
 opacity: 0;
}
/* The on (selected) state */
input[type="radio"]:checked ~ span:before {
 content: "\f192"; /* unicode for fa dot circle */
}

/* ## 11. Footer > Connect ## */
.social, .contactInfo {
 background-color: #13e792;
 color: #fff;
 padding: 1rem 1rem 0;
 text-align: center;
}

.social h3 {
 border-bottom: solid 1px #9be9ca;
 font-weight: 400;
 padding-bottom: .25rem;
}

.socialIcons {
 font-size: 200%;
 padding: 1rem 0;
}

.socialIcons a {
 color: #1a4d34;
 padding: 0 .5rem;
}

.socialIcons a:hover {
 color: #fe28de;
}

.contactInfo {
 padding-top: 0;
}

.contactInfo article {
 border-top: solid 1px #b6e8ff;
 padding: 1rem 0;
}

.contactInfo h4 {
 font-weight: 400;
}

.contactInfo li {
 font-weight: 300;
 list-style-type: none;
}

.copy {
 font-size: 75%;
 font-weight: 300;
 padding-top: 1rem;
}

.social1, .contactInfo {
  background-color: #13e792;
  color: #fff;
  padding: 1rem 1rem 0;
  text-align: center;
  grid-row: 1 / 1;
 }
 
 .social h3 {
  border-bottom: solid 1px #9be9ca;
  font-weight: 400;
  padding-bottom: .25rem;
 }
 
 .socialIcons {
  font-size: 200%;
  padding: 1rem 0;
 }
 
 .socialIcons a {
  color: #1a4d34;
  padding: 0 .5rem;
 }
 
 .socialIcons a:hover {
  color: #fe28de;
 }
 
 .contactInfo {
  padding-top: 0;
 }
 
 .contactInfo article {
  border-top: solid 1px #b6e8ff;
  padding: 1rem 0;
 }
 
 .contactInfo h4 {
  font-weight: 400;
 }
 
 .contactInfo li {
  font-weight: 300;
  list-style-type: none;
 }
 
 .copy {
  font-size: 75%;
  font-weight: 300;
  padding-top: 1rem;
 }

/* ## 12. Media Queries ## */

/* ### 12a. Media Query, (min-width: 700px) ### */
@media screen and (min-width: 700px) {
 /* ### 12a-i. HERO, Large screen rules ### */
 header.hero {
   background: url(../images/header1_lg.jpg) no-repeat center left;
   background-size: cover;
   text-align: left;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: .25fr 1fr .25fr;
   align-items: center;
 }

 .hero img {
   margin: 0 0 0 auto;
   grid-row: 2 / 3;
 }

 .hero article {
  max-width: 1000px;
  grid-column: 3 / 6;
 }

/* ### 12a-ii. Navigation, Large screen rules ### */
 .navWrap {
   display: grid;
   grid-template-columns: 100px minmax(auto, 1100px);
   justify-content: center;
   height: auto;
 }

 .navToggleLabel {
   display: none;
 }

 nav {
   position: initial;
 }

 nav ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 nav ul li a {
   border-bottom: none;
 }

 nav ul li a:hover {
   background: transparent;
 }

 nav::after, nav ul li:last-of-type::before {
   display: none;
   padding: initial;
 }

 nav .btn {
   width: auto;
   background: #13e72c;
   color: #fff;
   letter-spacing: normal;
   text-shadow: none;
   box-shadow: none;
 }

 nav.btn:hover {
   box-shadow: inset 0 0 5px #13e799;
   background-color: #223054;
 }

/* ### 12a-iv. CTA summaries, Large screen rules ### */
 .cta {
   min-height: 220px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .cta3 {
   background-image: url("../images/ctaBG3_lg.jpg");
 }

 .cta h1 {
   margin-right: 1rem;
 }

 /* ### 12a-vi. Facts, Large screen rules ### */

 section.facts {
   background: url(../images/problem1.png) no-repeat center left;
   max-width: 1200px;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   align-items: center;
 }

 .facts h1 {
   color: #235839;
   padding-right: 1rem;
   text-align: right;
   text-shadow: 1px 1px 2px #fff;
   grid-column: 1 / 5;
 }

 .facts h1 ~ p, .problem h3, .problem ul {
   grid-column: 5 / -1;
 }

 .facts ul {
   margin-left: 2rem;
   padding-right: 1rem;
 }

 .facts img {
   display: none;
 }


 /* ### 12a-vii. Succulents, Large screen rules ### */

 .succulents {
   max-width: 1200px;
   margin: auto;
 }

 .succulents article {
   margin-bottom: 1rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
 }

 .succulents article h1 {
   text-align: right;
   margin-right: 1rem;
 }

 .succulents ul {
   display: flex;
   flex-wrap: wrap;
 }

 .succulents ul li {
   flex-basis: 48%;
   grid-template-columns: 2fr 4fr;
 }

 /* ### 12a-viii. Footer, Large screen rules ### */
 footer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr .25fr;
 }

 .contact {
  background-color: #fff;
 }

 .social h3 {
   border-bottom: none;
   padding: .5rem 1rem .5rem 0;
   text-align: right;
 }

 .social article{
   height: 100%;
   display: grid;
   grid-template-columns: 1fr .5fr;
   align-items: center;
 }

 .socialIcons {
   border-left: solid #fff 1px;
   font-size: 150%;
   padding: .5rem 0 .5rem 1rem;
 }

 .socialIcons a {
   display: block;
 }

 .contactInfo {
   background-color: #b1eabd;
   color: #193a1e;
   padding: 1rem 0 0;
   grid-column: 1 / -1;
 }

}

/* ## 12. Media Query, (min-width: 1000px) ## */
@media screen and (min-width: 1000px) {
 /* ### 12b-i. Footer, X-Large screen rules ### */
 .form {
   display: grid;
   grid-template-columns: auto minmax(min-content, 580px);
   grid-template-areas:
     ". h"
     ". p"
     ". f";
 }

 .form h3 {
   grid-area: h;
 }

 .form p.formIntro {
   grid-area: p;
 }

 form#contactForm {
   max-width: initial;
   grid-area: f;
   display: grid;
   grid-template-areas:
     "name ph"
     "email news"
     "radio radio"
     "msg msg"
     "btn .";
   grid-gap: 1rem;
 }

 .contactForm div {
   margin-top: 0;
 }

 .contactForm div:nth-child(1) {
   grid-area: name;
 }

 .contactForm div:nth-child(2) {
   grid-area: ph;
 }

 .contactForm div:nth-child(3) {
   grid-area: email;
 }

 .contactForm div:nth-child(4) {
   grid-area: radio;
 }

 .contactForm div:nth-child(5) {
   grid-area: msg;
 }

 .contactForm div:nth-child(6) {
   margin: 1.8rem 0 0;
   grid-area: news;
 }

 .contactForm button {
   width: 100%;
   grid-area: btn;
 }

 .contactForm textarea {
   max-width: 100%;
 }

 .social article {
   max-width: 580px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .socialIcons {
   border-left: none;
   padding-left: 0;
 }

 .socialIcons a {
   display: inline-block;
   font-size: 180%;
 }

}

/* ## 12c. Feature Query ## */
/* SAFARI 11+ */
@media not all and (min-resolution:.001dpcm) {
 @supports (-webkit-appearance:none) and (stroke-color:transparent) {
   .galleryWrap  {
     align-items: stretch;
     }
     .galleryWrap img {
       height: inherit;
     }
   }
 }